@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@100&family=Noto+Sans+Mono&family=Oswald:wght@500&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


/* about page style */
.about {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 7rem;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    height: 95.3vh;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    /* background-color: black; */
    background: linear-gradient( rgb(8, 8, 8) 10%, rgb(36, 37, 36) 45%, rgb(27, 5, 5) 100%);

    color: rgb(0, 130, 139);

}
.aboutMeText {
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik Bubbles', cursive;
    color: white;

}

.textAbout {
    box-shadow: inset 0px 0px 20px rgb(32, 24, 24);
}



.logo-git-lin {
    text-align: center;
    padding-top: 5vh;

}

.logoColor {
    color: white;
}

.logoColor:hover {
    color: white;
    opacity: 0.6;
}
.about-p-tag {
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
@media (max-width: 900px) {
    .about {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .myImg{
        height: 200px;
        width: 200px;
        
    }
    .my-img {

        margin: 0 0 -200px;
    }
    .about-p-tag {
        font-size: 15px;
    }
}



/* .................................................. */

/* homepage style */



.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 100%;
    max-height: 100%;
    height: 95.3vh;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient( rgb(8, 8, 8) 10%, rgb(36, 37, 36) 45%, rgb(27, 5, 5) 100%);
    color: white;
    text-align: center;
}

.myName {
    font-size: 4vh;
}

.nameLetterAH {
    font-size: 8vh;
}

.nameLetter:hover {
    color: rgb(139, 0, 0);
    font-size: 6vh;
    transition: 0.1s;
}

.nameDiv {
    margin-bottom: 5vh;
}

.skillsList{
    font-size: 3vh;
    color:rgb(139, 0, 0);
}
/*  ........................ */


/* contact page */

.contact {
    display: grid;
    padding: 3rem;
    grid-template-columns: 300px 1fr;
    gap: 7rem;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    height: 95.3vh;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    /* background-color: black; */
    background: linear-gradient( rgb(8, 8, 8) 10%, rgb(36, 37, 36) 45%, rgb(27, 5, 5) 100%);

    color: rgb(0, 130, 139);

}
.logo-git-lin-contact{
    text-align: center;
}

/* .formContact input{
    max-width: 600px;
}
.formContact textarea{
    max-width: 600px;
} */
.formContact button{
    background-color:rgb(139, 0, 0);
    
}
.frmbtn{
    text-align: center;
}
.contactInfo h2{
    color:rgb(139, 0, 0);
}

.formContact{
    width: 50%;
}
@media (max-width: 950px) {
    .contact {
        height: 100vh;
        gap: 0rem;
        display: block;
        /* flex-wrap: wrap;
        justify-content: center; */
    }
    
}
/* .................. */

/* navbar */
.navBar{
    background: linear-gradient( rgb(8, 8, 8) 10%, rgb(36, 37, 36) 45%, rgb(27, 5, 5) 100%);


}
.navBar ul li a{
    color: rgb(0, 130, 139);
    font-size: 2vh;
}

.active {
    background: linear-gradient( rgb(82, 36, 36) 10%, rgb(105, 51, 51) 45%, rgb(75, 16, 16) 100%);
    border-radius: 20px;
    
}
.nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-left: 100px;
}


/* .......... */